In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("display.max_columns", 100)

path = "../data/raw/POS_CASH_balance.csv"
pos = pd.read_csv(path)

In [3]:
pos.shape

(10001358, 8)

In [4]:
pos.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [5]:
pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int64
 1   SK_ID_CURR             int64
 2   MONTHS_BALANCE         int64
 3   CNT_INSTALMENT         float64
 4   CNT_INSTALMENT_FUTURE  float64
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int64
 7   SK_DPD_DEF             int64
dtypes: float64(2), int64(5), object(1)
memory usage: 610.4+ MB

In [6]:
pos.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
SK_ID_PREV,10001358.0,NaN,NaN,NaN,1903216.598957,535846.530722,1000001.0,1434405.0,1896565.0,2368963.0,2843499.0
SK_ID_CURR,10001358.0,NaN,NaN,NaN,278403.863306,102763.74509,100001.0,189550.0,278654.0,367429.0,456255.0
MONTHS_BALANCE,10001358.0,NaN,NaN,NaN,-35.012588,26.06657,-96.0,-54.0,-28.0,-13.0,-1.0
CNT_INSTALMENT,9975287.0,NaN,NaN,NaN,17.08965,11.995056,1.0,10.0,12.0,24.0,92.0
CNT_INSTALMENT_FUTURE,9975271.0,NaN,NaN,NaN,10.48384,11.109058,0.0,3.0,7.0,14.0,85.0
NAME_CONTRACT_STATUS,10001358,9,Active,9151119,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SK_DPD,10001358.0,NaN,NaN,NaN,11.606928,132.714043,0.0,0.0,0.0,0.0,4231.0
SK_DPD_DEF,10001358.0,NaN,NaN,NaN,0.654468,32.762491,0.0,0.0,0.0,0.0,3595.0